.Centre {
}

.Centre--Intro {
  padding-bottom: 0;
}

.Centre--Intro .container {
  display: flex;
  align-items: center;
}

.Centre--Intro .container > *:first-child {
  margin-right: 4rem;
}

.Centre--Intro--Logo {
  width: 12rem;
}

.Centre--Intro--Title {
  margin-bottom: 0;
}

.Centre--Details {
  float: right;
  margin-bottom: 3rem;
  margin-left: 3rem;
}

.Centre--ClassroomsSection--Items {
  display: flex;
  align-items: stretch;
}

.Centre--ClassroomsSection--Item {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.Centre--ClassroomsSection--Item--Icon {
  height: 5rem;
  width: auto;
  margin-bottom: 2rem;
}

.Centre--ClassroomsSection--Subtitle .Button {
  margin: 3rem;
}

.Centre--DirectorStatement--Title {
  margin-bottom: 5rem;
}

.Centre--DirectorStatement--Image {
  margin: 0 3rem 1rem 0;
  float: left;
}
