.Contact {
}

.Contact--Centres {
  display: block;
}

.Contact--Centres > * {
  margin: 2rem auto;
  width: 90%;
}

.Contact--Section1 {
  padding-bottom: 0;
}

@media (min-width: 750px) {
  .Contact--Centres {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 5rem;
  }

  .Contact--Centres > * {
    margin: 2rem;
    width: 100%;
  }
}
