.homeSection1--boxes {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 6.5rem;
}

.homeSection1--box {
  display: block;
  width: calc(33.33% - 2rem);
  padding: 4rem 3rem;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.homeSection1--box--logo {
  display: block;
  max-width: 20rem;
  max-height: 20rem;
  margin-bottom: 3rem;
}

.homeSection2--container {
  display: flex;
  align-items: stretch;
}

.homeSection2--container > * {
  width: 50%;
}

.homeSection2--container p {
  font-size: 1.6rem;
}

.homeSection2--container p strong {
  font-size: 2rem;
}

.homeSection2--container .Button {
  margin-top: 2rem;
}

.homeSection2--container > *:nth-child(2) {
  width: calc(50% - 8rem);
  margin: auto;
}

.homeSection3 {
  padding-bottom: 0;
}

.homeSection3--items {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0;
}

.homeSection3--item {
  display: flex;
  width: 45%;
  align-items: flex-start;
  margin: 2rem 0;
}

.homeSection3--item--icon {
  flex: 0 0 15%;
  margin-right: 2rem;
}

.homeSection3--item--title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.homeSection4--grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.homeSection4--grid--image {
  width: calc(40% - 2rem);
  margin-bottom: 4rem;
}

.homeSection4--grid--item {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(30% - 2rem);
  margin-bottom: 4rem;
  padding: 6rem 4rem;
}

.homeSection4--grid--item--description {
  margin: 4rem auto;
}

.homeSection4--grid--item--button {
  margin-top: auto;
}


@media only screen and (max-width: 1450px) {
  .PageHeader-large .Image {
    right: 0;
  }
}
