.homeSection1--boxes {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.homeSection1--box {
  display: block;
  width: calc(33.33% - 2rem);
  padding: 4rem 3rem;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.homeSection1--box--logo {
  display: block;
  max-width: 20rem;
  max-height: 20rem;
  margin-bottom: 3rem;
}

.homeSection2--container {
  display: flex;
  align-items: stretch;
}

.homeSection2--container > * {
  width: 50%;
}

.homeSection2--container > *:nth-child(2) {
  width: calc(50% - 8rem);
  margin: auto;
}

.homeSection3--items {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0;
}

.homeSection3--item {
  display: flex;
  width: 45%;
  align-items: flex-start;
  margin: 2rem 0;
}

.homeSection3--item--icon {
  width: 7rem;
  margin-right: 2rem;
  height: auto;
}

.homeSection3--item--title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
