.BreakoutBox {
  padding: 4rem;
  display: flex;	
  position: relative;
  z-index: 9;
}

.BreakoutBox--Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.BreakoutBox--Content > *:last-child {
  margin-top: auto;
}

.BreakoutBox h3 {
	font-size: 3.2rem;
}
