.DownloadBanner--Container {
  display: flex;
  align-items: center;
}

.DownloadBanner--Image {
  margin-right: 4rem;
  display: block;
  flex-shrink: 0;
  width: auto;
}

.DownloadBanner--Button {
  margin-top: 1rem;
}
