.downloadBanner {
	margin-top: 6rem;
	padding: 5rem 0 !important;
}

.DownloadBanner--Container {
  display: flex;
  align-items: center;
  position: relative;
}

.DownloadBanner--Image {
  margin-right: 8rem;
  display: block;
  flex: 1;
}

.DownloadBanner--Button {
  margin-top: 1rem;
}
