.EnquiryForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 500px;
  margin: 2.5rem 0;
}

.EnquiryForm > * + * {
  margin-top: 2rem;
}

.EnquiryForm--Label {
  width: 48%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 5rem;
}

.EnquiryForm--Input {
  font-family: inherit;
  flex-grow: 1;
  box-sizing: border-box;
  display: block;
  margin: 0;
  border: none;
  outline: none;
  border-bottom: .2rem solid var(--secondary);
  padding: 1rem 0;
  line-height: 1.25em;
  transition: border-color 0.2s;
  resize: none;
  color: var(--secondary);
}

.EnquiryForm--Select {
  background: none;
  appearance: none;
  border-radius: 0;
}

.EnquiryForm--Label.full-width {
  width: 100%;
}

.EnquiryForm--Label.has-arrow:after {
  content: '';
  position: absolute;
  right: 1.5rem;
  top: 50%;
  border-right: 1px solid;
  border-bottom: 1px solid;
  height: 10px;
  width: 10px;
  transform: translateY(-75%) rotate(45deg);
  pointer-events: none;
}

.EnquiryForm--Input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.EnquiryForm--Input:focus {
  outline: none;
  border-color: black;
}

.EnquiryForm--Input[disabled],
.EnquiryForm--SubmitButton[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}

.EnquiryForm--Input::placeholder {
  text-transform: none;
  color: var(--secondary);
}

.EnquiryForm--Alert {
  background: var(--lightGrey);
  width: 100%;
  text-align: center;
  padding: 2rem;
}

.file-download {
  flex: 0 0 50%;
}

.file-download .EnquiryForm--Label {
  background-color: white;
  border-bottom: 0.2rem solid var(--secondary);
  padding: 1rem 0;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  margin-bottom: 1rem;
}

.file-download .EnquiryForm--Label span {
  margin: 0 auto 0.7rem;
  color: var(--secondary);
}

.file-download .EnquiryForm--Input {
  display: none;
}

.file-download .EnquiryForm--Select {
  border-radius: 0;
  background: none;
  appearance: none;
}

.form--footer {
  flex: 0 0 50%;
  text-align: right;
  align-self: center;
}

/*Application Form*/

.ApplicationForm, .BookTour {
  padding: 4rem;
  border: .4rem solid var(--secondary);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4rem;
}

/*Book Tour Form*/

.BookTour .label-text .EnquiryForm--Input {
  margin-left: 1rem;
}

.BookTour .privacy-check {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 4rem;
}

.BookTour .label-text p, .BookTour .privacy-check p {
  margin: 0;
  font-weight: 400;
}

.BookTour .privacy-check .EnquiryForm--Input {
  flex: 0 0 3%;
}

.checkbox-container, .privacy-check {
  position: relative;
  padding-left: 2rem;
  margin-left: 2rem;
}

.checkbox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: .2rem solid var(--secondary);
}

.checkbox-container {
  user-select: none;
}

.checkbox-container .EnquiryForm--Input, .privacy-check .EnquiryForm--Input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 2rem;
  height: 2rem;
  opacity: 0;
  margin: 0 !important;
  cursor: pointer;
  z-index: 1;
}

.checkbox-container .EnquiryForm--Input:checked + .checkbox, .privacy-check .EnquiryForm--Input:checked + .checkbox {
  background-color: var(--secondary);
}

/*Download Form*/

.download-banner {
  display: flex;
  margin-top: 7.5rem;
}

.DownloadForm {
  flex: 0 0 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.DownloadForm {
  background-color: var(--col6);
  padding: 6rem;
  flex: 1;
}

.download-banner .Image {
  max-height: 50rem;
}

.DownloadForm h3 {
  font-size: 3.2rem;
  flex: 0 0 100%;
}

.DownloadForm p {
  margin: 0;
}

.DownloadForm .EnquiryForm--Input {
  background-color: transparent;
}

.DownloadForm .EnquiryForm--Label.label-text {
  flex: 0 0 100%;
}

.home-download .DownloadForm {
  background-color: var(--col2);
  padding: 6rem 0;
}

.home-download .DownloadForm .EnquiryForm--Label {
  flex: 0 0 100%;
  width: 100%;
  margin-bottom: 3rem;
}

.home-download .DownloadForm .container {
  background-color: white;
  padding: 4rem;
  max-width: 60%;
}

.home-download .DownloadForm h3 {
  font-size: 4.6rem;
}

.home-download .DownloadForm .form-description {
  margin-bottom: 2rem;
}

.home-download.download-banner .Image {
  max-height: 77rem;
}

.home-download .DownloadForm .EnquiryForm--Label p {
  flex: 0 0 100%;
  margin-bottom: 2rem;
}

.home-download .DownloadForm .checkbox-container:first-of-type {
  margin-left: 0;
}

.home-download .DownloadForm .Button {
  float: right;
  display: inline-block;
}








