.EnquiryForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 500px;
  margin: 2.5rem 0;
}

.ApplicationForm {
  padding: 4rem;
  border: .4rem solid var(--secondary);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.EnquiryForm > * + * {
  margin-top: 2rem;
}

.EnquiryForm--Label {
  width: 48%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 5rem;
}

.EnquiryForm--Input {
  font-family: inherit;
  flex-grow: 1;
  box-sizing: border-box;
  display: block;
  margin: 0;
  border: none;
  outline: none;
  border-bottom: .2rem solid var(--secondary);
  padding: 1rem 0;
  line-height: 1.25em;
  transition: border-color 0.2s;
  resize: none;
  color: var(--secondary);
}

.EnquiryForm--Select {
  background: none;
  appearance: none;
  border-radius: 0;
}

.EnquiryForm--Label.full-width {
  width: 100%;
}

.EnquiryForm--Label.has-arrow:after {
  content: '';
  position: absolute;
  right: 1.5rem;
  top: 50%;
  border-right: 1px solid;
  border-bottom: 1px solid;
  height: 10px;
  width: 10px;
  transform: translateY(-75%) rotate(45deg);
  pointer-events: none;
}

.EnquiryForm--Input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.EnquiryForm--Input:focus {
  outline: none;
  border-color: black;
}

.EnquiryForm--Input[disabled],
.EnquiryForm--SubmitButton[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}

.EnquiryForm--Input::placeholder {
  text-transform: none;
  color: var(--secondary);
}

.EnquiryForm--Alert {
  background: var(--lightGrey);
  width: 100%;
  text-align: center;
  padding: 2rem;
}

.file-download {
  flex: 0 0 50%;
}

.file-download .EnquiryForm--Label {
  background-color: white;
  border-bottom: 0.2rem solid var(--secondary);
  padding: 1rem 0;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  margin-bottom: 1rem;
}

.file-download .EnquiryForm--Label span {
  margin: 0 auto 0.7rem;
  color: var(--secondary);
}

.file-download .EnquiryForm--Input {
  display: none;
}

.file-download .EnquiryForm--Select {
  border-radius: 0;
  background: none;
  appearance: none;
}

.form--footer {
  flex: 0 0 50%;
  text-align: right;
  align-self: center;
}
