.ExceedBanner {
  padding: 5rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ExceedBanner--title {
  margin-bottom: 0;
}

.ExceedBanner--image {
  margin-right: 5rem;
  width: 10rem;
  height: auto;
}
