:root {
  --col1: #f16668;
  --col2: #9fc9eb;
  --col2-trans: rgba(158, 200, 235, 0.95);
  --col2-light: #dbebf9;
  --col3: #dbebf9;
  --col4: #5dbf88;
  --col5: #faed87;
  --col6: #c8e8e5;
  --secondary: #222f50;
  --lightGrey: #ede9e0;
  --midGrey: #cacaca;
  --darkGrey: #272727;
  --danger: #ff3d3d;
  --font-system: system-ui; /* postcssPresetEnv */
  --font-col1: 'Montserrat', var(--font-system);
  --font-secondary: 'Varela Round', var(--font-system);
  --borderRadius: 3px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: var(--lightGrey);
}

body {
  font-family: var(--font-col1);
  min-height: 100%;
  position: relative;
  background: white;
  color: var(--secondary);
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--col1);
  text-decoration: none;
}

strong {
  font-weight: 700;
}

hr {
  border: none;
  border-bottom: whitesmoke 1px solid;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

ul {
  padding: 0;
  margin: 3rem 0;
}
ul li {
  list-style: none;
  position: relative;
  padding: 0 0 0 2rem;
  margin-bottom: 1.25rem;
}
ul li:before {
  content: '';
  background-image: url(/images/tri.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 0;
  top: 0.5em;
  position: absolute;
  width: 1rem;
  height: 1rem;
}

ol {
  padding-left: 1em;
}
ol li {
  font-weight: 700;
  color: var(--col4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
  font-family: var(--font-secondary);
  font-weight: 400;
  line-height: 1.1;
}

h1,
.h1 {
}
h2,
.h2 {
  font-size: 5rem;
}
h3,
.h3 {
  font-size: 4rem;
}
h4,
.h4 {
  font-size: 3.5rem;
}
h5,
.h5 {
  font-size: 2.6rem;
}
h6,
.h6 {
  font-size: 2rem;
}

pre {
  background: var(--lightGrey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid var(--col1);
}

/* Utility Classes */
.light {
  background-color: var(--lightGrey);
}
.white {
  background-color: white;
}
.dark {
  background-color: var(--darkGrey);
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}
.col1 {
  background-color: var(--col1);
}
.col2 {
  background-color: var(--col2);
}
.col2-light {
  background-color: var(--col2-light);
}
.col3 {
  background-color: var(--col3);
}
.col4 {
  background-color: var(--col4);
}
.col5 {
  background-color: var(--col5);
}
.col6 {
  background-color: var(--col6);
}

.primary {
  color: var(--col4);
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}
.noDecoration {
  text-decoration: none;
}
.colorInherit {
  color: inherit;
}

/* Layout */
.section {
  width: 100%;
  padding: 7.5rem 0;
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 5rem 0;
}
.section.noPadding {
  padding: 0;
}

.container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}
.container.content {
  max-width: 1200px;
  width: 80%;
}
.container.skinny {
  max-width: 888px;
}
.container.skinnier {
  max-width: 555px;
}

.hasBorder {
  border: 3px solid var(--secondary);
}

.hasShadow {
  box-shadow: 8px 10px 0 var(--col2-trans);
}
.hasShadowHover {
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 0 var(--col2-trans);
}
.hasShadowHover:hover,
.hasShadowHover:focus {
  box-shadow: 8px 10px 0 var(--col2-trans);
  transform: translateY(-1px);
}
