.JoinBanner {
  padding: 5rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.JoinBanner--title {
  margin-bottom: 0;
  flex-shrink: 0;
}

.JoinBanner .Wave {
  margin: auto 3rem;
  flex-shrink: 1;
}

.JoinBanner .Button {
  flex-shrink: 0;
}
