.Nav {
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.Nav--Container {
  display: flex;
  align-items: center;
  height: 10rem;
}

.Nav .Logo {
  margin-right: auto;
}

.Nav--Container--Links {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.Nav--Container--Sep {
  margin: 0 1em;
  border: 1px solid currentColor;
  height: 1.5em;
}

.SubNav {
  display: none;
  position: absolute;
  background: white;
  border: 3px solid currentColor;
  top: 100%;
}

@media (min-width: 1100px) {
  .Nav {
    font-size: 1.2rem;
  }
}
