.PageHeader {
  background: var(--col2-light);
  padding: 5rem 0;
  position: relative;
}

.PageHeader:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-image: url(../../public/images/uploads/bannerimg-left.png);
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
}

.PageHeader:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 14.6rem;
  height: 100%;
  background-image: url(../../public/images/uploads/bannerimg-right.png);
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
}

.PageHeader--BG {
  background-position: top;
}

.PageHeader-large {
  padding: 15rem 0;
}

.PageHeader-large:before {
  background-image: url(../../public/images/uploads/homeimg-left.png);
}

.PageHeader-large:after {
  background-image: url(../../public/images/uploads/homeimg-right.png);
  width: 62.2rem;
}

.PageHeader-large .Image {
  height: auto;
  width: 55rem;
  position: absolute !important;
  bottom: -15rem;
  right: 15rem;
  z-index: 1;
}

.PageHeader--Title {
  font-size: 4rem;
  margin-bottom: 0;
  line-height: 1.1;
}

.PageHeader-large .PageHeader--Title {
  margin-bottom: 2rem;
  font-size: 7rem;
}

.PageHeader--Inner {
  max-width: 800px;
}

.PageHeader--Subtitle {
  font-size: 1.8rem;
  max-width: 700px;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}
