.PageHeader {
  background: var(--col2-light);
  padding: 5rem 0;
}

.PageHeader--BG {
  background-position: top;
}

.PageHeader-large {
  padding: 15rem 0;
}

.PageHeader--Title {
  font-size: 4rem;
  margin-bottom: 0;
  line-height: 1.1;
}

.PageHeader-large .PageHeader--Title {
  margin-bottom: 2rem;
  font-size: 7rem;
}

.PageHeader--Inner {
  max-width: 800px;
}

.PageHeader--Subtitle {
  font-size: 1.8rem;
  max-width: 700px;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}
