.Testimonials--Slider {
  position: relative;
  margin-top: 5rem;
}

.Testimonials--Slider--Item {
  background: white;
  padding: 5rem 7rem;
  display: none;
}

.Testimonials--Slider--Item.active {
  background: white;
  padding: 5rem 7rem;
  display: block;
}

.Testimonials--Slider--Quote {
  position: absolute;
  top: -4rem;
  bottom: calc(100% - 5rem);
  width: 5rem;
  left: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateX(-50%);
}
